/* Code me a beautiful scroll bar compatible with all browsers */


::-webkit-scrollbar {
    width: 10px;
    border-radius: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 15px;
}