/* Style.css */

:root {
    --primary-color: #FF725E;
    --text-color-dark : #282828;
    --text-color-light : #f1f1f1;
    --background-color : #ffffff;
    /* Other */
    --app-mac-btn-1 : #FF5050;
    --app-mac-btn-2 : #FFD850;
    --app-mac-btn-3 : #50FF76;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SF Pro Display', sans-serif;
    list-style: none;
}

.no-scroll {
    overflow: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

nav {
    display: flex;
    width: 667px;
    height: 50px;
    border-radius: 8px;
    background: #fafafa;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    margin-left: 15px;
}

.logo {
    font-size: 30px;
    color: #282828;
    font-weight: 700;
    text-decoration: none;
}

.cta-contact {
    border-radius: 10px;
    background: #FF725E;
    color: #FFF;
    font-size: 30px;
    padding: 5px 15px;
    text-decoration: none;
}



/* Mobile */

.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.logo-mobile {
    margin-top: 20px;
    text-align: center;
    font-size: 70px;
    color: #282828;
    font-weight: 700;
    text-decoration: none;
}

.nav-links .links {
    margin-left: 32px;
    text-decoration: none;
    color: #282828;
    font-size: 25px;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 3px 0;
}

.nav-mobile {
    display: none;
}

.close-menu svg {
    margin: 5px;
    width: 35px;
    height: 35px;
}

.nav-mobile ul {
    display: flex;
    justify-content: left;
    align-items: center; /* left ou center*/
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
}

@media (max-width: 840px) {
    nav {
        display: none;
    }

    .nav-mobile {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #f1f1f1;
        z-index: 9999;
        transition: all .6s ease-in-out;
        transform: translateX(-100%);
    }

    .nav-links-mobile li {
        margin-bottom: 15px;
    }

    .nav-mobile.active {
        transform: translateX(0px);
    }

    .cta-contact {
        display: none;
    }

    .hamburger-menu {
        display: flex;
    }

    .links-mobile-1 {
        color: #fff;
        text-decoration: none;
        font-size: 30px;
        background-color: var(--app-mac-btn-1);
        padding: 13px;
        border-radius: 16px;
    }

    .links-mobile-2 {
        color: #333;
        text-decoration: none;
        font-size: 25px;
    }

    .links-mobile-3 {
        color: #333;
        text-decoration: none;
        font-size: 25px;
    }

    .close-menu {
        width: 47px;
    }
    
}

/* Fin Navbar */

.Important-words {
    color: var(--primary-color);
}

main h1 {
    margin: 100px 0px 0px 0px;
    color: #282828;
    text-align: center;
    font-size: 70px;
    font-weight: 700;
}

main p {
    margin: 15px 0px 0px 0px;
    color: #282828;
    text-align: center;
    font-size: 29px;
    font-weight: 500;
}

main .svg-container {
    display: flex;
    justify-content: center;
}

@media (max-width: 840px) {
    main h1 {
        margin: 40px 0px 0px 0px;
        font-size: 57px;
    }

    main p {
        font-size: 30.25px;
    }

    .first_svg {
        width: 100%;
    }
}